<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            **/HttpWebRequestFactory.cs,
            **/IHttpWebRequestFactory.cs,
            **/PriceMonitorControl.cs,
            **/MainForm.cs,
            **/CustomDataGridView.cs,
            **/CustomChart.cs,
            **/ConfigForm.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>