<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            **/IConfigsService.cs,
            **/IGatewayService.cs,
            **/IPersistenceService.cs,
            **/ISerializationService.cs,
            **/HttpWebRequestFactory.cs,
            **/IHttpWebRequestFactory.cs,
            **/PriceMonitorControl.cs,
            **/CustomDataGridView.cs,
            **/CustomChart.cs,
            **/Program.cs,
            **/Extensions.cs,
            **/*Form.cs,
            **/*Designer.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>